<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.demo.auth.mapper.UserDetailsCustomMapper">

	<resultMap id="userDetails"
		type="com.example.demo.auth.model.UserDetailsDto">
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
	</resultMap>

	<select id="getUserDetails" parameterType="java.util.Map"
		resultMap="userDetails">
		select user_name ,password from "user" where
		user_name=#{userName};
	</select>


	<insert id="addUserDetails">
		INSERT INTO public."user"
		(user_name, "password",created_dte)
		VALUES(#{userName}, #{password},now());
	</insert>
	
	
	<select id="getUserDetailsByUserName" parameterType="java.util.Map"
		resultMap="userDetails">
		select user_name  from "user" where
		user_name=#{userName};
	</select>

</mapper>